<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0"
  metadata-complete="true">

  <servlet>
    <servlet-name>Sample</servlet-name>
    <servlet-class>Servlet.Sample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sample2_1</servlet-name>
    <servlet-class>Servlet.Sample2_1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sample2_2</servlet-name>
    <servlet-class>Servlet.Sample2_2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sample2_3</servlet-name>
    <servlet-class>Servlet.Sample2_3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sample3_1</servlet-name>
    <servlet-class>Servlet.Sample3_1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sample4_1</servlet-name>
    <servlet-class>Servlet.Sample4_1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Session1_1</servlet-name>
    <servlet-class>Session.Session1_1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sample2_1</servlet-name>
    <url-pattern>/Sample2_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sample2_2</servlet-name>
    <url-pattern>/Sample2_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sample2_3</servlet-name>
    <url-pattern>/Sample2_3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sample3_1</servlet-name>
    <url-pattern>/Sample3_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sample4_1</servlet-name>
    <url-pattern>/Sample4_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session1_1</servlet-name>
    <url-pattern>/Session1_1</url-pattern>
  </servlet-mapping>
</web-app>